In [6]:
from load_movielens import *

In [7]:
ratings_df[ratings_df["UserID"] == 1].sort_values(by="Rating", ascending=False).head(10)

     UserID  MovieID  Rating  Timestamp
53        1     1259       5  978298709
81        1     2046       5  978299220
86        1     2931       5  978298652
88        1     1201       5  978298261
93        1      106       5  978298625
97        1     3238       5  978298814
102       1     1765       5  978298458
106       1     1135       5  978298391
108       1      501       5  978298542
115       1      466       5  978299809

In [8]:
idx = 1
len(user_datasets[idx]), user_datasets[idx].x, user_datasets[idx].y

(129,
 tensor([1259, 2853, 1414,  626, 2013,  627, 2078, 2426, 1031, 2708, 3235, 1120,
         1623, 1550, 1123, 3341, 2674, 2816, 1127, 2889,  420, 1945, 2891, 2892,
         2821, 1161, 1478,  283, 2046, 2856,  841,  358, 1167, 2931, 1420, 1201,
         1099, 3031, 3032, 3033,  106, 2086, 2296, 1656, 3238,  575, 1553, 3412,
         2645, 1765,  920, 1693, 2651, 1135, 1848,  501,  428, 2120,  258, 1306,
         1012, 3457,  466, 1337, 1886, 1173, 1271, 1104, 1631, 1273, 2160, 3107,
         2234,  576, 1106, 1428,  702, 1108,  579, 2166,   92, 2512, 2374, 1737,
         2203, 3493, 1773, 1466, 3566, 1774, 1775,  228, 1047, 1777,  157,   20,
          159, 2128, 1018,  370, 2307,  339,  443, 1024,  859,  445, 1406, 3186,
         1286, 3219, 2879,  737,  484, 2523, 1822, 1782, 1618, 2735, 1826,  309,
         1117, 1788, 3436, 1152,  346, 1153, 1154, 3647, 1155]),
 tensor([5., 4., 4., 3., 4., 4., 5., 3., 3., 3., 5., 4., 3., 3., 2., 5., 3., 4.,
         3., 4., 2., 3., 2., 3., 4., 3., 5., 3., 5., 4., 2., 4., 5., 5., 4., 5.,
         4., 4., 2., 3., 5., 3., 3., 4., 5., 4., 3., 3., 3., 5., 4., 4., 4., 5.,
         4., 5., 3., 3., 4., 3., 3., 2., 5., 4., 5., 3., 5., 5., 3., 3., 4., 4.,
         2., 5., 5., 3., 4., 4., 5., 3., 2., 3., 4., 3., 4., 3., 4., 3., 3., 5.,
         4., 3., 5., 5., 4., 1., 3., 3., 2., 5., 5., 4., 4., 4., 5., 3., 4., 4.,
         3., 4., 4., 3., 3., 3., 5., 5., 5., 4., 3., 5., 4., 2., 3., 3., 5., 2.,
         5., 1., 5.]))

In [9]:
create_user_dataloader(user_datasets[idx], 0.8, 0.1, 5)

21

In [10]:
nb_rating_user = len(user_datasets[idx])
nb_rating_train = int(nb_rating_user * 0.8)
nb_rating_val = int(nb_rating_user * 0.1)
train_dataset = Subset(user_datasets[idx], range(0, nb_rating_train))
trainloader = DataLoader(train_dataset, batch_size=5, shuffle=True)

In [15]:
next(iter(trainloader))

[tensor([ 258, 3457, 3238,  575, 2816]), tensor([4., 2., 5., 4., 4.])]